<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Austin Hastings" />
    <link href="{{ site.url }}/stylesheets/normalize.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ site.url }}/stylesheets/pygments_borland.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ site.url }}/stylesheets/styles.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="{{ site.url }}/javascripts/main.js" type="text/javascript"></script>

    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <h1><a href="/">{{ page.title }}</a></h1>
    </header>
    <section>
      {{ content }}
    </section>
  </body>
</html>
